<div class="container">
  <div class="control-container"> </div>
  <div class="map-container" id="map"></div>
</div>

<div class="overlay-control">
  <div class="control">
    <input type="checkbox" (click)="changeLayer('demo_data')" />
    <label>Base Layer</label>
  </div>
  <div class="control">
    <input type="checkbox" (click)="changeLayer('category_style')" />
    <label>Category Style Layer</label>
  </div>
  <div class="control">
    <input type="checkbox" (click)="changeLayer('bubble_style')" />
    <label>Bubble Style Layer</label>
  </div>
  <div class="control">
    <input type="checkbox" (click)="changeLayer('cluster_style')" />
    <label>Cluster Style Layer</label>
  </div>
  <div class="control">
    <input type="checkbox" (click)="changeLayer('graduated_style')" />
    <label>Graduated Style Layer</label>
  </div>
  <div class="control">
    <input type="checkbox" (click)="changeLayer('gradient_style')" />
    <label>Gradient Style Layer</label>
  </div>
  <div class="control">
    <input type="checkbox" (click)="changeLayer('heat_style')" />
    <label>Heat Style Layer</label>
  </div>
</div>